<!doctype html>
<title>{% block title %}{% endblock %} | Twilight</title>
<link rel=stylesheet href=/static/style.css type=text/css>
<div class=box>
    <h1><a href=/>Twilight</a></h1>

    <p class=tagline>Today&lsquo;s Solar &amp; Lunar ephemerides for:<br/>

    {{address}}</p>

    {% block body %}{% endblock %}
</div>
<div class=ip_box>
    <a href="/">auto</a>&emsp;&emsp;<a href="/erikshus">erikshus</a>&emsp;&emsp;
    <a href="/kopernik">Kopernik</a>&emsp;&emsp;<a href="/greenwich">Greenwich</a><p/>
    {% if ip != '' %}
       Request from: {{ip}}
    {% endif %}
</div>
