<!doctype html>
<title>{% block title %}{% endblock %} | Twilight</title>
<link rel=stylesheet href=/static/style.css type=text/css>
<div class=box>
    <h1><a href=/>Twilight</a></h1>

    <p class=tagline>Today&lsquo;s Solar &amp; Lunar ephemerides for:<br/>

    {% if place == 'home' or place == 'erikshus' %}
    Under the streetlamp: 42&deg; 06' 25"N 76&deg; 15' 47"W</p>
    {% endif %}
    {% if place == 'kopernik' %}
    Kopernik Observatory: 42&deg; 0' 7.18"N 76&deg; 2' 0.48"W</p>
    {% endif %}
    {% if place == 'greenwich' %}
    Greenwich Observatory: 51&deg; 28' 38"N 0&deg; 0' 0"</p>
    {% endif %}

    {% block body %}{% endblock %}
</div>
<div class=ip_box>
    {% if ip != '' %}
    Request from: {{ip}}
    {% endif %}
</div>
